{
  "openapi": "3.1.0",
  "info": {
    "title": "ChineseZodiacYear Worker API",
    "version": "1.0.0",
    "description": "OpenAPI spec for Worker /v1 routes. Covers BaZi calculator, health check, and report generation endpoints."
  },
  "servers": [
    {
      "url": "https://www.chinesezodiacyear.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bazi/calculate": {
      "post": {
        "summary": "Calculate BaZi chart",
        "operationId": "calculateBazi",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaziCalculateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BaZi chart result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaziCalculateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Upstream provider failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "Circuit breaker open",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "504": {
            "description": "Upstream timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reports": {
      "post": {
        "summary": "Request a new report generation",
        "operationId": "createReport",
        "description": "Validates input, checks template, deduplicates via request hash, creates job, and generates report. Idempotent: re-submitting identical input returns the existing job.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New report job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportJobEnvelope"
                }
              }
            }
          },
          "200": {
            "description": "Existing job returned (idempotent dedup)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportJobEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Template not found or inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reports/{jobId}": {
      "get": {
        "summary": "Poll report job status",
        "operationId": "getReportStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportStatusEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/reports/{jobId}/download": {
      "get": {
        "summary": "Download a completed report",
        "operationId": "downloadReport",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Report file (JSON, future: PDF)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "202": {
            "description": "Report still being generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Job or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Report generation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": ["status", "timestamp"],
        "properties": {
          "status": { "type": "string", "const": "ok" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message", "retryable"],
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "retryable": { "type": "boolean" }
            }
          }
        }
      },
      "BaziCalculateRequest": {
        "type": "object",
        "required": ["year", "month", "day"],
        "properties": {
          "year": { "type": "integer", "minimum": 1900, "maximum": 2100 },
          "month": { "type": "integer", "minimum": 1, "maximum": 12 },
          "day": { "type": "integer", "minimum": 1, "maximum": 31 },
          "hour": { "type": ["integer", "null"], "minimum": 0, "maximum": 23 },
          "minute": { "type": ["integer", "null"], "minimum": 0, "maximum": 59 },
          "lat": { "type": ["number", "null"], "minimum": -90, "maximum": 90 },
          "lng": { "type": ["number", "null"], "minimum": -180, "maximum": 180 },
          "tz": { "type": ["string", "null"] },
          "sex": { "type": "string", "enum": ["male", "female"] }
        }
      },
      "BaziPillar": {
        "type": "object",
        "required": ["stem", "branch"],
        "properties": {
          "stem": { "type": "string" },
          "branch": { "type": "string" },
          "stemPinyin": { "type": "string" },
          "branchPinyin": { "type": "string" },
          "stemElement": { "type": "string" },
          "branchElement": { "type": "string" },
          "animal": { "type": "string" },
          "combined": { "type": "string" }
        }
      },
      "BaziCalculateResponse": {
        "type": "object",
        "required": ["pillars", "gender", "daYun", "readingSections", "input"],
        "properties": {
          "pillars": {
            "type": "object",
            "required": ["year", "month", "day", "hour"],
            "properties": {
              "year": { "$ref": "#/components/schemas/BaziPillar" },
              "month": { "$ref": "#/components/schemas/BaziPillar" },
              "day": { "$ref": "#/components/schemas/BaziPillar" },
              "hour": { "$ref": "#/components/schemas/BaziPillar" }
            }
          },
          "gender": { "type": "string", "enum": ["male", "female"] },
          "daYun": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["combined", "startAge", "startYear"],
              "properties": {
                "combined": { "type": "string" },
                "startAge": { "type": "string" },
                "startYear": { "type": "string" }
              }
            }
          },
          "readingSections": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["title", "content"],
              "properties": {
                "title": { "type": "string" },
                "content": { "type": "string" }
              }
            }
          },
          "input": { "$ref": "#/components/schemas/BaziCalculateRequest" },
          "_cached": { "type": "boolean" }
        },
        "additionalProperties": true
      },
      "ReportRequest": {
        "type": "object",
        "required": ["templateSlug", "year", "month", "day"],
        "properties": {
          "templateSlug": { "type": "string", "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" },
          "year": { "type": "integer", "minimum": 1900, "maximum": 2100 },
          "month": { "type": "integer", "minimum": 1, "maximum": 12 },
          "day": { "type": "integer", "minimum": 1, "maximum": 31 },
          "hour": { "type": ["integer", "null"], "minimum": 0, "maximum": 23 },
          "minute": { "type": ["integer", "null"], "minimum": 0, "maximum": 59 },
          "lat": { "type": ["number", "null"], "minimum": -90, "maximum": 90 },
          "lng": { "type": ["number", "null"], "minimum": -180, "maximum": 180 },
          "tz": { "type": ["string", "null"] },
          "sex": { "type": "string", "enum": ["male", "female"], "default": "male" },
          "email": { "type": ["string", "null"], "format": "email" }
        }
      },
      "ReportJobEnvelope": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["jobId", "status", "templateSlug"],
            "properties": {
              "jobId": { "type": "string", "format": "uuid" },
              "status": { "type": "string", "enum": ["queued", "processing", "completed", "failed"] },
              "templateSlug": { "type": "string" }
            }
          }
        }
      },
      "ReportStatusEnvelope": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["jobId", "status", "createdAt"],
            "properties": {
              "jobId": { "type": "string", "format": "uuid" },
              "status": { "type": "string", "enum": ["queued", "processing", "completed", "failed"] },
              "downloadUrl": { "type": ["string", "null"] },
              "error": { "type": ["string", "null"] },
              "createdAt": { "type": "string", "format": "date-time" }
            }
          }
        }
      }
    }
  }
}
