---
layout: false
permalink: "/asian-new-year/"
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0;url=/chinese-new-year-influence/">
  <link rel="canonical" href="/chinese-new-year-influence/">
  <title>Redirecting…</title>
</head>
<body>
  <p>This page has moved. <a href="/chinese-new-year-influence/">Click here</a> if you are not redirected.</p>
</body>
</html>
