---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in collections.all %}{% if page.url != false and "/admin/" not in page.url and page.url != "/404.html" %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
    <changefreq>{% if page.url == "/" %}daily{% elif page.data.tags and "article" in page.data.tags %}monthly{% else %}weekly{% endif %}</changefreq>
    <priority>{% if page.url == "/" %}1.0{% elif page.data.category == "encyclopedia" %}0.9{% elif page.data.category == "readings" %}0.8{% elif page.data.tags and "article" in page.data.tags %}0.7{% else %}0.8{% endif %}</priority>
  </url>
{% endif %}{% endfor %}
</urlset>
