<div class="share-buttons">
  <a data-share="twitter" class="share-btn share-twitter" target="_blank" rel="noopener" href="#">Twitter</a>
  <a data-share="facebook" class="share-btn share-facebook" target="_blank" rel="noopener" href="#">Facebook</a>
  <a data-share="linkedin" class="share-btn share-linkedin" target="_blank" rel="noopener" href="#">LinkedIn</a>
  <a data-share="email" class="share-btn share-email" href="#">Email</a>
</div>
